.video-player {
    width: 800px;
    height: 600px;
    box-shadow: 0 0 15px black;
    display: flex;
    flex-direction: column;
}

.js-video-container {
    display: flex;
    flex-grow: 1;
}

.video-player-buttons {
    background-color: black;
}

.js-play-button {
    border-style: none;
    cursor: pointer;
    background-color: transparent;
}

.js-pause-button {
    border-style: none;
    cursor: pointer;
    background-color: transparent;
}

.fa-play {
    color: white;
}

.fa-pause {
    color: white;
}